body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .heading_style{
  padding: 30px 0;
  text-align: center;
  font-family: "cursive";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 30px;
  background-color: white;
  color: black;

}
.cards{
  width: 100%;
  height: auto;
}
.heading{
  color: aqua;
}
.card{
  margin: 6%;
  transition: all 0.4s cubic-bezier(0.175,0.885,0,1);
  background-color: white;
  width: 21.25;
  border-radius: 13px;
  box-shadow: 0px 14px 10px -7px rgba(0,0,0,0.1);
  float: left;
  transition: .15s linear;
}
.card__img{
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 16px 24px 24px 24px;
  background-color: white;  

}
.card__info{
  background-color: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}
.card__category{
  text-transform: uppercase;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: gray;
  background-color: white;

}
.card__title{
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "cursive";
  background-color: white;
  text-transform: capitalize;

}
.card:hover{
  transform: scale(1.15);
}
div{
  width:100%;
  height:100vh;
  background-color: #8e44ad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 40px; 
  color:white;
  justify-content:center;
  align-items: center; 
  background: transparent;
text-shadow: 0 2px 2px black ;
}
input{
  width:550px;
  padding:10px 20px;
  border:none;
  outline:none;
  margin:20px 0;
  text-align: center;
  text-transform: capitalize;
}
button{
  line-height: 24px;
  padding:0 20px;
  background: #9b59b6;
  color:white;
  border:2px solid #ecf0f1;
  outline:none;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
} */

.main_div{
  width:100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background:#83cc34;
  text-align: center;
}
.center_div{
  width:60%px;
  height: 80vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,.5);
  border:none;
  border-radius: 15px;
  overflow: auto;
 
}
h1{
  color:white;
  background:transparent;
  background-color: #83cc99;
  padding:6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,.3);
}
input{
  text-align: center;
  height: 30px;
  top:10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #83cc34;
  outline:none;
}
button{
  min-height: 40px;
  width:50px;
  border-radius:50%;
  background-color: orange;
  border-color: transparent;
  color:#fff;
  font-size: 40px;
  border: none;
  outline:none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,.3);
}
.Add:hover{
  background-color: #20bf6b;
  cursor: pointer;
}
ol{
  margin-top: 30px;
}
ol li{
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height:40px;
  display: flex;
  align-items: center;
  color:#83cc34;
  text-transform: capitalize;
}
.todo-style{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.todo-style .fa-solid {
  width: 20px;
  height:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #83cc34;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  color:aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,.3);
}
.todo-style .fa-solid:hover{
  background-color:crimson;
  cursor: pointer;
}
.todo-style .fa-solid:hover .list_style{
  color:crimson
}
@media (max-width:768px){
  .center_div{
    width:320px;
    height: 80vh;
    
  }
  .todo-style .fa-solid {
    margin: 0 15px 0 15px;
  display: flex;
justify-content: center;
align-items: center;
  }
  button {
    margin-left: 5px;
    min-height: 40px;
    width:40px;
    color:#fff;
    font-size: 30px;
  }}
  @media (max-width:320px){
    .center_div{
      width:320px;
      height: 100vh;
      border-radius: 0;
    }
  
}